<h1>SignIn for the Secret Page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" id="" required placeholder="username">
    <input type="password" name="password" id="" required placeholder="password"> 
    <button type="submit">SignIn</button>
</form> 

<li>
    <a href="/register">Sign Up</a>
</li>

<li>
    <a href="/login">Sign In</a>
</li>

<li>
    <a href="/secret">Secret</a>
</li>

<li>
    <a href="/logout">Sign Out</a>
</li>