#container {
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1{
    background-color: #2980e9;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
background-color: white;
height: 40px;
line-height: 40px;
color: #666;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b8;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
    background-color: white;
    outline: none;
    border: 3px solid #2980b8;
}

body{
    font-family: 'Roboto';
    background: linear-gradient(to right, #780206, #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-pencil{
    float: right;
}

span{
    background-color: #e73c4c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}