<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelcamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
              <a class="nav-link" href="#">SignIn <span class="sr-only">(current)</span></a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="#">SignUp</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="#">LogOut</a>
              </li>
          
          </ul>
        
        </div>
      </nav>    
