<h1>Results Page</h1>
<ul>
    <% results.forEach((movie)=>{%>
        <li>
            <strong><%=movie.Title%></strong>
            <em><%= movie.Year%> </em>
        </li>
    <%})%> 
</ul>
<a href="/">Search Again</a>    