<%- include("partials/header") %>

<h1>The post page</h1>

<% for(var i=0; i<post.length; i++) { %>
<li>
    <%= post[i].title%> - <strong> <%=post[i].author %> </strong>
</li>
<% }%>

<%- include("partials/footer") %>