p{
  font-family: Geneva;
  font-size: 20px;
}
h1:first-letter{
  font-family: Georgia;
  font-size: 220px;
}
span{
  font-size: 2em;/*2*default size(2*16)*/
  font-weight: 700;
}
p{
  line-height: 2;
}
h1{
  text-align: right;
}
p{
  text-decoration: underline;
}
h1{
  text-decoration: line-through;
}
