*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    background-image: url(https://cdn.impactinit.com/cdn/x/x@11e865fd76/smss52/smsimg30/pv/isignstockcontributors/iss_7938_24595.jpg);
}

body {
    margin: 0;

}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.9)
        /* 90% of cell */

}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
    background-color: black;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle.cell:not(.x):not(.circle):hover::after {
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);

}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;

}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    height: var(--mark-size);
    width: var(--mark-size);

}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    height: calc(var(--mark-size)*.7);
    width: calc(var(--mark-size)*.7);
    background-color: white;
}




.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(9),
.cell:nth-child(6) {
    border-right: none;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);

    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em, .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.winning-message.show {
    display: flex;
}